<div class="form px-5 py-2">
    <h3 *ngIf="!editMode; else alt">Add User</h3>
    <ng-template #alt>
        <h3>Edit User</h3>
    </ng-template>
    <hr>    
    <div class="row">
        <div class="col-md-3">
            <label class="form-label">First Name</label>
            <input type="text" class="form-control" [(ngModel)]="first_name">
        </div>
        <div class="col-md-3">
            <label class="form-label">Last Name</label>
            <input type="text" class="form-control" [(ngModel)]="last_name">
        </div>
        <div class="col-md-3">
            <label class="form-label">Username</label>
            <input type="text" class="form-control" [(ngModel)]="username">
        </div>
        <div class="col-md-3">
            <label class="form-label">Contact Number</label>
            <input type="text" class="form-control" [(ngModel)]="contact">
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-md-3">
            <label class="form-label">Property</label>
            <select class="form-select" [(ngModel)]="property">
                <option [ngValue]="'N/A'">---Select Property---</option>
                <option *ngFor="let p of properties" [ngValue]="p.id">{{p.name}}</option>
            </select>
        </div>
        <div class="col-md-3">
            <label class="form-label">Role</label>
            <select class="form-select" [(ngModel)]="role">
                <option [ngValue]="'N/A'">---Select Role---</option>
                <option *ngFor="let r of roles" [ngValue]="r.id">{{r.name}}</option>
            </select>
        </div>
        <div class="col-md-3" *ngIf="!editMode">
            <label class="form-label">Password</label>
            <input type="password" class="form-control" [(ngModel)]="password">
        </div>
        <div class="col-md-3" *ngIf="!editMode">
            <label class="form-label">Confirm Password</label>
            <input type="password" class="form-control" [(ngModel)]="password2">
        </div>
    </div>
    <div class="d-flex justify-content-center align-items-center mt-4">
        <button class="btn btn-primary" type="button" (click)="onGoBack()">Go Back</button>
        <button class="btn btn-primary ms-3" type="button" data-bs-toggle="modal" data-bs-target="#exampleModal" *ngIf="editMode">Change Password</button>
        <button class="btn btn-primary ms-3" type="submit" *ngIf="!editMode; else edit" (click)="onAddUser()">Submit</button>
        <ng-template #edit>
            <button class="btn btn-primary ms-3" type="submit" (click)="onUpdateUser()">Update</button>
        </ng-template>
    </div>
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="exampleModalLabel">Change Password</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <label class="form-label">Username</label>
                        <input type="text" class="form-control" [ngModel]="username" disabled>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-md-12">
                        <label class="form-label">Password</label>
                        <input type="text" class="form-control" [(ngModel)]="password">
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-md-12">
                        <label class="form-label">Confirm Password</label>
                        <input type="text" class="form-control" [(ngModel)]="password2">
                    </div>
                </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary" (click)="onChangeUserPassword()">Submit</button>
            </div>
          </div>
        </div>
    </div>
</div>