<div class="px-5 py-2">
    <h3 *ngIf="!editMode; else alt">Add Room</h3>
    <ng-template #alt>
        <h3>Edit Room</h3>
    </ng-template>
    <hr>
    <div class="row">
        <div class="col-md-3">
            <label class="form-label">Room Number</label>
            <input type="text" class="form-control" [(ngModel)]="room_no">
        </div>
        <div class="col-md-3">
            <label class="form-label">Occupancy</label>
            <input type="text" class="form-control" [(ngModel)]="occupancy">
        </div>
        <div class="col-md-3">
            <label class="form-label">Guest House</label>
            <select class="form-select" [(ngModel)]="property_id">
                <option [ngValue]="'N/A'">---Select Guest House---</option>
                <option *ngFor="let p of properties" [ngValue]="p.id">{{p.name}}</option>
            </select>
        </div>
        <div class="col-md-3">
            <label class="form-label">Room Category</label>
            <select class="form-select" [(ngModel)]="room_category_id">
                <option [ngValue]="'N/A'">---Select Room Category---</option>
                <option *ngFor="let c of categories" [ngValue]="c.id">{{c.name}}</option>
            </select>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-md-12">
            <label class="form-label">Description</label>
            <textarea class="form-control" rows="5" cols="10" [(ngModel)]="description"></textarea>
        </div>
    </div>
    <div class="d-flex justify-content-center align-items-center mt-4">
        <button class="btn btn-primary" (click)="onGoBack()">Go Back</button>
        <button class="btn btn-primary ms-3" (click)="onAddRoom()" *ngIf="!editMode; else update">Submit</button>
        <ng-template #update>
            <button class="btn btn-primary ms-3" (click)="onUpdateRoom()">Update</button>
        </ng-template>
    </div>
</div>