<div class="form px-5 py-2">
    <h3>Add Room Category</h3>
    <hr>
    <div class="row">
        <div class="col-md-12">
            <label class="form-label">Room Category Name</label>
            <input type="text" class="form-control" [(ngModel)]="room_category" name="room_category">
        </div>
        <div class="d-flex justify-content-center align-items-center mt-3">
            <button class="btn btn-primary" (click)="onGoBack()">Go back</button>
            <button class="btn btn-primary ms-3" *ngIf="!editMode; else edit" (click)="onAddRoomCategory()">Submit</button>
            <ng-template #edit>
                <button class="btn btn-primary ms-3" (click)="onEditRoomCategory()">Update</button>
            </ng-template>
        </div>
    </div>
</div>