<div class="form px-5 py-2">
    <h3>Add Property</h3>
    <hr>    
    <div class="row">
        <div class="col-md-6">
            <label class="form-label">Property Name</label>
            <input type="text" class="form-control">
        </div>
        <div class="col-md-6">
            <label class="form-label">Short Name</label>
            <input type="text" class="form-control">
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-md-12">
            <label class="form-label">Address</label>
            <textarea rows="5" cols="10" class="form-control"></textarea>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-md-12">
            <label class="form-label">Description</label>
            <textarea rows="5" cols="10" class="form-control"></textarea>
        </div>
    </div>
    <div class="d-flex justify-content-center align-items-center mt-4">
        <button class="btn btn-primary" type="button">Reset</button>
        <button class="btn btn-primary ms-3" type="submit" *ngIf="!editMode; else update">Submit</button>
        <ng-template #update>
            <button class="btn btn-primary ms-3" type="submit">Update</button>
        </ng-template>
    </div>
</div>