<section>
    <div class="text-end mb-3">
        <button class="btn btn-primary" (click)="onRouteAddItem()">+ Add Items</button>
    </div>
    <div class="text-center" *ngIf="!showItems">
        <h3>No Items</h3>
    </div>
    <div class="table-responsive" *ngIf="showItems">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th scope="col">S.No.</th>
                    <th scope="col">Item Name</th>
                    <th scope="col">Operations</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let it of items; let i=index">
                    <td width="7%">{{i+1}}</td>
                    <td>{{it.name}}</td>
                    <td width="10%" class="text-center"><i class="bi bi-pencil-square" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Edit" (click)="onRouteEditItem(it.id)"></i></td>
                </tr>
            </tbody>
        </table>
    </div>
</section>