<div class="title text-center mt-5">
    <h2>Check-In</h2>
</div>
<section class="px-5 py-2 mt-5">
    <div class="d-flex justify-content-between">
        <h5>Today's Booking</h5>
        <h5>Date: {{ todayDate | date: 'dd-MM-YYYY' }}</h5>
    </div>
    <hr>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th scope="col">S.No.</th>
                <th scope="col">Booking ID</th>
                <th scope="col">Guest Name</th>
                <th scope="col">Preview</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>GHVC0112392013</td>
                <td>Adam James</td>
                <td><button class="btn btn-primary">Preview</button></td>
            </tr>
        </tbody>
    </table>
</section>