<section>
    <div class="list-houses" *ngFor="let r of results">
        <h4>{{ r.property_name }}</h4>
        <hr>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th scope="col" width="5%">Select</th>
                    <th scope="col" width="5%">S.No.</th>
                    <th scope="col">Room No</th>
                    <th scope="col">Room Type</th>
                    <th scope="col">Room Cost</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let room of r.meta_rooms; let i=index">
                    <td scope="col" class="text-center"><input type="checkbox"></td>
                    <td scope="col" class="text-center">{{i+1}}</td>
                    <td scope="col">{{ room.room_no }}</td>
                    <td scope="col">{{ room.room_category }}</td>
                    <td scope="col">₹ {{room.room_rate }}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-end mt-4 mb-3">
        <button class="btn btn-primary" (click)="onEnterBookingDetails()">Next <i class="bi bi-arrow-right-circle"></i></button>
    </div>
</section>