<section>
    <h4>Welcome {{username}}</h4>
    <hr>
    <div *ngIf="role === 2 || role === 1">
        <div class="row">
            <div class="col-sm-4">
                <div class="card">
                    <h5 class="card-header">Total Guest Houses</h5>
                    <div class="card-body">
                        <div class="d-flex justify-content-between align-items-end">
                            <i class="bi bi-house"></i>
                            <h1>{{ properties }}</h1>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="card">
                    <h5 class="card-header">Total Rooms</h5>
                    <div class="card-body">
                        <div class="d-flex justify-content-between align-items-end">
                            <i class="bi bi-building"></i>
                            <h1>{{ rooms }}</h1>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="card">
                    <h5 class="card-header">Total Bookings</h5>
                    <div class="card-body">
                        <div class="d-flex justify-content-between align-items-end">
                            <i class="bi bi-journal-text"></i>
                            <h1>{{ bookings }}</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div *ngIf="role === 3">
        <div class="row">
            <div class="col-sm-4">
                <div class="card">
                    <h5 class="card-header">Today's Total Check-In/Out</h5>
                    <div class="card-body">
                        <div class="d-flex justify-content-between align-items-end">
                            <i class="bi bi-journal-medical"></i>
                            <h1>{{ total }}</h1>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="card">
                    <h5 class="card-header">Today's Pending Check-In</h5>
                    <div class="card-body">
                        <div class="d-flex justify-content-between align-items-end">
                            <i class="bi bi-journal-arrow-down"></i>
                            <h1>{{ checkin }}</h1>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="card">
                    <h5 class="card-header">Today's Pending Check-Out</h5>
                    <div class="card-body">
                        <div class="d-flex justify-content-between align-items-end">
                            <i class="bi bi-journal-arrow-up"></i>
                            <h1>{{ checkout }}</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>