<div class="title text-center">
    <h2>Cancellation</h2>
</div>
<div class="d-flex justify-content-center mt-3">
    <div class="row">
        <div class="col-md-12">
            <label class="form-label">Select Date</label>
            <input type="date" class="form-control" [(ngModel)]="date" name="date" (input)="getBooking()">
        </div>
    </div>
</div>
<section class="px-5 py-2 mt-5" *ngIf="showData === 'true'">
    <h5>Booking(s)</h5>
    <hr>
    <div *ngIf="!checkin_data[0]">
        <h5>No Bookings Found</h5>
    </div>
    <div class="row" *ngIf="checkin_data[0]">
        <div class="col-md-3" *ngFor="let c of checkin_data">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Booking ID: {{c.reservation_no}}</h5>
                    <h6 class="card-subtitle mt-3 mb-2 text-muted">Guest Name: {{c.lead_guest_name}}</h6>
                    <h6 class="card-subtitle mt-3 mb-2 text-muted">Contact Number: {{c.contact_no}}</h6>
                    <h6 class="card-subtitle mt-3 mb-2 text-muted">Room(s) Booked: 
                        <label *ngFor="let r of c.reservation_room_details">{{r.related_room.room_no}},</label>
                    </h6>
                    <div class="text-end">
                        <a class="card-link" style="cursor: pointer; text-decoration: none; color: red;" data-bs-toggle="modal" (click)="getBookingDetails(c.id, c.reservation_no)" data-bs-target="#exampleModal">Cancel</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Cancel Booking</h1>
                <button type="button" #close class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Are you sure you want to cancel booking {{ booking_id }} ?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-danger" (click)="onCancel()">Yes</button>
            </div>
        </div>
    </div>
</div>