<div class="sidebar bigscreen" [ngClass]="{'inactive': toggleValue, '': !toggleValue}">
    <div class="logo_content">
        <div class="logo text-center">
            <img src="assets/images/hcs_logo.png" class="mt-4" height="120px;">
        </div>
    </div>
    <i class="bi bi-list mt-3" id="btn" (click)="onToggle()"></i><br>
    <hr>
    <app-sidebar-menus [toggleValue]="toggleValue"></app-sidebar-menus>
</div>
<div class="background" [ngClass]="{'activate': toggleValue, '': !toggleValue}">
    <div class="sidebar smallscreen" [ngClass]="{'mobile-active': toggleValue, '': !toggleValue}">
        <div class="logo_content">
            <div class="logo text-center text-light mt-4">
                <img src="assets/images/hcs_logo.png" height="120px;">
            </div>
        </div>
        <hr>
        <i class="bi bi-x-lg" id="btn" (click)="onToggle()"></i>
        <app-sidebar-menus></app-sidebar-menus>
    </div>
</div>