.btn-primary,
.btn-primary:disabled{
    background-color: #93bcdf;
    border-color: #93bcdf;
}
.btn-primary:hover{
    background-color: #67a6db;
    border-color: #67a6db;
}
input.ng-invalid.ng-touched,
textarea.ng-invalid.ng-touched,
select.ng-invalid.ng-touched{
    border: 1px solid red;
}