<div class="form px-5 py-2">
    <h3 *ngIf="!editMode;else edit">Add Property</h3>
    <ng-template #edit>
        <h3>Edit Property</h3>
    </ng-template>
    <hr>    
    <div class="row">
        <div class="col-md-6">
            <label class="form-label">Property Name</label>
            <input type="text" class="form-control" [(ngModel)]="prop_name" name="prop_name">
        </div>
        <div class="col-md-6">
            <label class="form-label">Short Name</label>
            <input type="text" class="form-control" [(ngModel)]="prop_short_name" name="prop_short_name">
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-md-12">
            <label class="form-label">Address</label>
            <textarea rows="5" cols="10" class="form-control" [(ngModel)]="prop_address" name="prop_address"></textarea>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-md-12">
            <label class="form-label">Description</label>
            <textarea rows="5" cols="10" class="form-control" [(ngModel)]="prop_description" name="prop_description"></textarea>
        </div>
    </div>
    <div class="d-flex justify-content-center align-items-center mt-4">
        <button class="btn btn-primary" type="button" (click)="onGoBack()">Go Back</button>
        <button class="btn btn-primary ms-3" type="submit" *ngIf="!editMode; else update" (click)="onAddProperty()">Submit</button>
        <ng-template #update>
            <button class="btn btn-primary ms-3" type="submit" (click)="onUpdateProperty()">Update</button>
        </ng-template>
    </div>
</div>